body{
    margin: 0;
    padding: 0;
    background-color: rgb(12, 12, 12);
}

.navbar{
    /* border: 1px red solid; */
    height: 80px;
    z-index: 5;
    
}

.hidden{
    /* border: 1px blue solid; */
    height: 10px;
    padding-left: 40px;
    z-index: 1;
    background-color: rgb(81, 6, 6);
    transition-duration: 100ms;
    color: rgba(240, 255, 255, 0);
    display: flex;
    justify-content: space-evenly;

}

.hidden:hover{
    transition-duration: 100ms;
    padding-top: 20px;
    height: 40px;
    color: rgb(221, 221, 221);
}

.main{
    border:  red solid 1px;
    height: calc(100vh - 95px);
    display: flex;
    justify-content: space-evenly;

}

#choix{
    border: rgb(94, 94, 94) 1px solid;
    height: 50vh;
    margin-top: auto;
    margin-bottom: auto;
    width: 22vw;
}

#choixTitre{
    /* border: 1px yellow solid; */
    height: 15%;
    background-color: rgb(81, 6, 6);

}

#choixMain{
    /* border: 1px red solid; */
    height: 65%;
}

#choixText{
    /* border: 1px green solid; */
    background-color: rgb(81, 6, 6);
    height: 20%;
}